Front-End/node_modules/
Back-End/.vs/Sports_Stats_Back_End/FileContentIndex/*
Back-End/.vs/Sports_Stats_Back_End/FileContentIndex/30bc79f9-1965-4aaf-98dc-e4608c40aea4.vsidx
Back-End/.vs/Sports_Stats_Back_End/FileContentIndex/40dbb429-996e-40fe-86c6-f39afe5e3f3f.vsidx
Back-End/.vs/Sports_Stats_Back_End/FileContentIndex/6593aa67-8c5e-4837-a6fc-b4838591ec17.vsidx
Back-End/.vs/Sports_Stats_Back_End/FileContentIndex/b4c5e9a9-e371-41f3-abd3-2150966aff56.vsidx
Back-End/.vs/Sports_Stats_Back_End/FileContentIndex/ea6dde76-84ac-45d2-a2c1-ac6013d230fa.vsidx
Back-End/appsettings.Development.json
Back-End/appsettings.json
Back-End/Sports_Stats_Back_End.csproj
Back-End/Sports_Stats_Back_End.csproj.user
Back-End/Sports_Stats_Back_End.sln
Back-End/.vs/ProjectSettings.json
Back-End/.vs/slnx.sqlite
Back-End/.vs/VSWorkspaceState.json
Back-End/.vs/Back-End/config/applicationhost.config
Back-End/.vs/Back-End/FileContentIndex/cc3d619a-9b81-48a0-a53f-8596ab317d74.vsidx
Back-End/.vs/Back-End/v17/.wsuo
Back-End/.vs/Back-End/v17/DocumentLayout.json
Back-End/.vs/Back-End/v17/DocumentLayout.json~RF10a0bcea.TMP
Back-End/.vs/ProjectEvaluation/sports_stats_back_end.metadata.v7.bin
Back-End/.vs/ProjectEvaluation/sports_stats_back_end.projects.v7.bin
Back-End/.vs/Sports_Stats_Back_End/config/applicationhost.config
Back-End/.vs/Sports_Stats_Back_End/DesignTimeBuild/.dtbcache.v2
Back-End/.vs/Sports_Stats_Back_End/v17/.futdcache.v2
Back-End/.vs/Sports_Stats_Back_End/v17/.suo
Back-End/.vs/Sports_Stats_Back_End/v17/.wsuo
Back-End/.vs/Sports_Stats_Back_End/v17/DocumentLayout.json
Back-End/.vs/Sports_Stats_Back_End/v17/TestStore/0/000.testlog
Back-End/.vs/Sports_Stats_Back_End/v17/TestStore/0/testlog.manifest
Back-End/bin/Debug/net8.0/appsettings.Development.json
Back-End/bin/Debug/net8.0/appsettings.json
Back-End/bin/Debug/net8.0/Microsoft.OpenApi.dll
Back-End/bin/Debug/net8.0/Newtonsoft.Json.Bson.dll
Back-End/bin/Debug/net8.0/Newtonsoft.Json.dll
Back-End/bin/Debug/net8.0/Sports_Stats_Back_End.deps.json
Back-End/bin/Debug/net8.0/Sports_Stats_Back_End.dll
Back-End/bin/Debug/net8.0/Sports_Stats_Back_End.exe
Back-End/bin/Debug/net8.0/Sports_Stats_Back_End.pdb
Back-End/bin/Debug/net8.0/Sports_Stats_Back_End.runtimeconfig.json
Back-End/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
Back-End/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
Back-End/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
Back-End/bin/Debug/net8.0/System.Net.Http.Formatting.dll
Back-End/obj/project.assets.json
Back-End/obj/project.nuget.cache
Back-End/obj/Sports_Stats_Back_End.csproj.nuget.dgspec.json
Back-End/obj/Debug/net8.0/staticwebassets.build.json
Back-End/obj/Debug/net8.0/ref/Sports_Stats_Back_End.dll
Back-End/obj/Debug/net8.0/refint/Sports_Stats_Back_End.dll
Back-End/obj/Debug/net8.0/staticwebassets/msbuild.build.Sports_Stats_Back_End.props
Back-End/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.Sports_Stats_Back_End.props
Back-End/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.Sports_Stats_Back_End.props
Back-End/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Back-End/obj/Debug/netcoreapp3.1/Sports_Stats_Back_End.AssemblyInfo.cs
Back-End/obj/Debug/netcoreapp3.1/Sports_Stats_Back_End.assets.cache
Back-End/obj/Debug/netcoreapp3.1/Sports_Stats_Back_End.AssemblyInfoInputs.cache
Back-End/obj/Debug/netcoreapp3.1/Sports_Stats_Back_End.csproj.AssemblyReference.cache
Back-End/obj/Debug/netcoreapp3.1/Sports_Stats_Back_End.GeneratedMSBuildEditorConfig.editorconfig
Back-End/obj/Debug/netcoreapp3.1/Sports_Stats_Back_End.GlobalUsings.g.cs
Back-End/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Back-End/obj/Release/net8.0/Sports_Stats_Back_End.AssemblyInfoInputs.cache
Back-End/obj/Release/net8.0/Sports_Stats_Back_End.AssemblyInfo.cs
Back-End/obj/Release/net8.0/Sports_Stats_Back_End.assets.cache
Back-End/obj/Release/net8.0/Sports_Stats_Back_End.csproj.AssemblyReference.cache
Back-End/obj/Release/net8.0/Sports_Stats_Back_End.GeneratedMSBuildEditorConfig.editorconfig
Back-End/obj/Release/net8.0/Sports_Stats_Back_End.GlobalUsings.g.cs
Back-End/Properties/launchSettings.json
Back-End/obj/Sports_Stats_Back_End.csproj.nuget.g.props
Back-End/obj/Sports_Stats_Back_End.csproj.nuget.g.targets
Back-End/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Back-End/obj/Debug/net8.0/Sports_S.1987E09A.Up2Date
Back-End/obj/Debug/net8.0/apphost.exe
Back-End/obj/Debug/net8.0/Sports_Stats_Back_End.AssemblyInfo.cs
Back-End/obj/Debug/net8.0/Sports_Stats_Back_End.csproj.CoreCompileInputs.cache
Back-End/obj/Debug/net8.0/Sports_Stats_Back_End.assets.cache
Back-End/obj/Debug/net8.0/Sports_Stats_Back_End.AssemblyInfoInputs.cache
Back-End/obj/Debug/net8.0/Sports_Stats_Back_End.csproj.AssemblyReference.cache
Back-End/obj/Debug/net8.0/Sports_Stats_Back_End.csproj.BuildWithSkipAnalyzers
Back-End/obj/Debug/net8.0/Sports_Stats_Back_End.csproj.FileListAbsolute.txt
Back-End/obj/Debug/net8.0/Sports_Stats_Back_End.pdb
Back-End/obj/Debug/net8.0/Sports_Stats_Back_End.MvcApplicationPartsAssemblyInfo.cs
Back-End/obj/Debug/net8.0/Sports_Stats_Back_End.GlobalUsings.g.cs
Back-End/obj/Debug/net8.0/Sports_Stats_Back_End.genruntimeconfig.cache
Back-End/obj/Debug/net8.0/Sports_Stats_Back_End.GeneratedMSBuildEditorConfig.editorconfig
Back-End/obj/Debug/net8.0/Sports_Stats_Back_End.dll
Back-End/obj/Debug/net8.0/Sports_Stats_Back_End.MvcApplicationPartsAssemblyInfo.cache
/Back-End/.vs/Sports_Stats_Back_End/FileContentIndex
/Back-End/obj/Debug/net8.0
Back-End/.vs/Back-End/FileContentIndex/0930ebb9-df5e-4fcd-a615-65c31d701a64.vsidx
Back-End/.vs/Back-End/FileContentIndex/ce149cab-3724-45f8-b5e9-12d7edf36612.vsidx
/Back-End/bin/Debug/net8.0
/Back-End/.vs/Back-End/FileContentIndex
/Back-End/bin/Release/net8.0
/Back-End/obj/Release/net8.0
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
